<div>
  new <app-post-new  (newPost)="addnewPosts($event)"></app-post-new>
  Deleted : <span  *ngFor="let deletedId of deletedPost"> , {{deletedId.id}} </span>
  <app-post *ngFor="let postdata of posts" [post]="postdata" (removePost)="removePosts($event)"></app-post>

</div>
