<div>
  <form [formGroup]="myNewPost" novalidate (ngSubmit)="onSubmit()">
    <fieldset>
      <div class="form-group">
        <label> Post Title </label>
        <input type="text" class="form-control"
        [ngClass]="{'has-success':myNewPost.controls.title.valid ,
        'has-danger':myNewPost.controls.title.valid }"
        formControlName="title" required/>
      </div>

    </fieldset>
    <fieldset>
        <div class="form-group">
          <label> Post Body </label>
          <textarea name="" class="form-control"
          [ngClass]="{'has-success':myNewPost.controls.title.valid ,
          'has-danger':myNewPost.controls.title.valid }"
          id="" cols="30" rows="7" formControlName="body" required></textarea>
        </div>

      </fieldset>
      <fieldset>
          <div class="form-group">
            <label> Photo </label>
            <input type="file" alife-file-to-base64 (onFileChanged)="onFileChanges($event)"  (files)="photo">
          </div>

        </fieldset>
        <button type="submit"  class="btn btn-primary" >Submit</button>
  </form>
  <pre> Valid Post Title | minlength(2):  {{ myNewPost.controls.title.valid}} </pre>
  <pre> Valid Post Body  | minlenght(2):  {{ myNewPost.controls.body.valid}} </pre>
  <!-- {{myNewPost.valid}} -->
  <div>
    <img [src]="photo"  style="width:100px;height:100px;object-fit: scale-down;" alt="Image Upload Preview"/>

  </div>
  <br>
  <hr>


</div>
