<!--The content below is only a placeholder and can be replaced.-->
<div><div style="text-align:center">
  <h1>
    {{ mark }}!
  </h1>

</div>



<nav class="navbar navbar-light bg-faded">

    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/home'">Home</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" [routerLink]="'/show-post'"> Show Posts</a>
      </li>
    </ul>
  </nav>

<router-outlet></router-outlet>
<!-- <app-post-list></app-post-list> -->
</div>


