<div class="container">
  <div class="row">

    <div class="col-sm-2">

      <img [src]="post.photo" style="width:100px;height:100px;object-fit: scale-down;border:1px solid blueviolet;" alt="Image Upload Preview"
        *ngIf="post.photo" />
    </div>

  <div class="col-sm-7 card text-center">
    <div class="card-header"></div>
    <div class="card-body">
      <h4 class="card-title">id :{{ post.id }} | {{ post.title }}</h4>
      <p class="card-text">{{ post.body }}</p>
    </div>
  </div>
  <div class="col-sm-2">
    <button class="btn" (click)="onDelete(post)">
      <span aria-hidden="true">&times;</span> Delete
    </button>

  </div>
</div>
</div>
